
  <form class="new-reminder--form"{{action 'createReminder' on="submit"}}>
    <label>
      Title
      {{input type="text" value=title class="spec-input-title"}}
    </label>
    <label>
      Reminder Date
      {{input type="date" value=date class="spec-input-date"}}
    </label>
    <label>
      Notes
      {{input type="text" value=notes class="spec-input-notes"}}
    </label>
    <button class="new-reminder--submit">Submit</button>
  </form>


{{outlet}}
