<div class="reminder">
  <h3 class="spec-reminder-title">{{model.title}}</h3>

  {{#if isEditing}}
    {{reminder-form reminder=model formSubmitted=(action 'saveReminder' model) button-text="Save"}}
    <button class="revert-changes-button"  disabled={{ unless model.hasDirtyAttributes 'true'}} {{action 'revertChanges' model}}>Undo</button>

  {{else}}
    <p class="spec-reminder-date">
      {{model.date}}
    </p>

    {{#if model.notes}}
      <p class="spec-reminder-notes">
        {{model.notes}}
      </p>
    {{/if}}

    <button {{action 'editReminder'}} class="edit-reminder-button">Edit</button>

    {{#link-to 'reminders.index'}}
        <button {{action 'deleteReminder' model}} class="delete-reminder-button">Delete</button>
    {{/link-to}}


  {{/if}}

</div>

{{outlet}}
